* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

:root {
    --primary: #e6b85a;
    --secondary: #62b3ffa5;
    --font: #fff;
}
.parisienne-regular {
    font-family: "Parisienne", cursive;
    font-weight: 400;
    font-style: normal;
  }
  

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--secondary);
    padding: 10px;
    text-align: center;
    /* border-bottom: 2px solid var(--primary); */
}

h1 {
    font-size: 36px;
    color: var(--font);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}


main {
    padding: 20px;
    text-align: center;
    z-index: 1;
}

.background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  opacity: .8;
}
.main_photo {
    /* height: 70vh; */
    max-width: 90%;
    /* width: 380px; */
    border: var(--primary) 2px solid;
    border-radius: 10px;
    box-shadow: 2px 2px 5px var(--primary);
    /* opacity: .9; */
    margin: 10px ;
}

.section_heading {
  color: var(--secondary);
  font-size: 2em;
}

.img_venue, .img_rsvp {
  max-width: 90%;
    border: var(--primary) 2px solid;
    border-radius: 10px;
    box-shadow: 2px 2px 5px var(--primary);
}

.img_rsvp {
  width: 380px;
}
.img_gallery {
  margin: 1em;
  display: flex ;
  gap: 1em;
  flex-wrap: wrap;
  max-width: 90%;
  justify-content: center;
}
.img_gallery >img {
  width: 30%;
}

header p {
  color: var(--font);
}
p {
    font-size: 1.2em;
    color: var(--primary);
    margin: 10px;
    
}

a {
  color: var(--primary);
}

button {
    background-color: #f0c27b; /* Soft orange */
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

button > a {
    color: #fff;
    font-size: 2em;
    padding: 15px 30px;
    text-decoration: none;
    font-weight: bold;
    
}
button:hover {
    background-color: #e6b85a;
}

footer {
    background-color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 12px;
}



/* ... your previous CSS styles ... */

/* .main_photo, .date-venue, .rsvp, .gift-guide, .dress-code {
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  animation: slideIn 1.5s forwards;
  animation-delay: 0.5s;
} */
section {
    padding: 20px;
    text-align: center;
    margin-bottom: 50px;
    opacity: 1;
    /* transform: translateY(20px); */
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

/* section:nth-child(1) {
  animation: slideIn 1s forwards;
  animation-delay: 0.2s;
}

section:nth-child(2) {
  animation: slideIn 1s forwards;
  animation-delay: 0.4s;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
 */

.wedding-info {
  background-color: #f0f0f0;
  border-bottom: 2px solid #ccc;
}
  
  .couple-names {
    font-size: 32px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .countdown > #countdown {
    font-size: 3em;
    color: var(--primary);
    display: flex;
    justify-content: center;
    margin: auto;
  }

  .countdown {
    width: 50%;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    
  }
  
  .date-venue, .rsvp, .gift-guide, .dress-code {
    margin-bottom: 40px;
  }
  
  .reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }
