* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

:root {
    --primary: #e6b85a
}
.parisienne-regular {
    font-family: "Parisienne", cursive;
    font-weight: 400;
    font-style: normal;
  }
  

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

header {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #ccc;
}

h1 {
    font-size: 36px;
    color: #333;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

main {
    padding: 40px;
    text-align: center;
}

img {
    max-width: 90%;
    width: 380px;
    border: var(--primary) 2px solid;
    border-radius: 10px;
    box-shadow: 2px 2px 5px var(--primary);
}

.img_venue {
  max-width: 90%;
  width: 720px;
}
p {
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
}

.button {
    background-color: #f0c27b; /* Soft orange */
    color: #fff;
    padding: 15px 30px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.button:hover {
    background-color: #e6b85a;
}

footer {
    background-color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 12px;
}



/* ... your previous CSS styles ... */

section {
    padding: 40px;
    text-align: center;
    margin-bottom: 50px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  }

  section:nth-child(1) {
    animation: slideIn 1s forwards;
    animation-delay: 0.2s;
  }
  
  section:nth-child(2) {
    animation: slideIn 1s forwards;
    animation-delay: 0.4s;
  }
  
  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .wedding-info {
    background-color: #f0f0f0;
    border-bottom: 2px solid #ccc;
  }
  
  .couple-names {
    font-size: 32px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .countdown > #countdown {
    font-size: 3em;
    color: var(--primary);
    display: flex;
    justify-content: center;
    margin: auto;
  }

  .countdown {
    width: 50%;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    
  }
/*   
  .date-venue, .rsvp, .gift-guide, .dress-code {
    margin-bottom: 40px;
  }
   */
